main {
  margin-top: 24px;
  padding: 0 23px;
  .inputContainer {
    margin-bottom: 32px;
  }
  .btnContainer {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    .btn {
      height: 46px;
      width: 88px;
    }
  }
}

.messageContainer {
  display: flex;
  height: 1px;
  span {
    display: block;
  }
  .typeCount {
    flex: 1;
    text-align: end;
    font-family: Noto Sans TC;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #696974;
  }
  .error {
    flex: 1;
    text-align: start;
    font-size: var(--font-size-small);
    color: var(--Error);
  }
}
