.defaultInputContainer {
  padding-top: 2px;
  height: 54px;
  .defaultInputLabel {
    margin-top: 2px;
    padding-left: 16px;
    font-size: 14px;
    color: var(--gray-700);
    height: 22px;
  }
  background-color: #f5f8fa;
  .defaultInput {
    background-color: #f5f8fa;
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #657786;
    padding-left: 16px;
    &::placeholder {
      color: var(--gray-500);
    }
    &:focus {
      outline: none;
      border-color: var(--sky-blue);
    }
  }

  &:hover {
    .defaultInput {
      border-color: var(--sky-blue);
    }
  }
}

.inputNotice {
  height: 20px;
  font-size: 12px;
  display: flex;
  width: 100%;
  background-color: var(--white);
  .errorMessage {
    width: 50%;
    color: var(--Error);
    display: none;
  }
  .lengthRule {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #657786;
  }
}

.error {
  .defaultInput {
    border-bottom: 2px solid var(--Error);
  }
  .defaultInput:focus {
    outline: none;
    border-color: var(--Error);
  }
  .errorMessage {
    display: block;
  }
  .tooMuchWord {
    color: var(--Error);
  }
  &:hover {
    .defaultInput {
      border-color: var(--Error);
    }
  }
}
