.UserMainPageContainer {
  width: 1140px;
  height: 1200px;
  margin: 0 auto;
  display: flex;
  // outline: 1px solid black;
  .contentContainer {
    width: 639px;
    height: 100%;
    margin-left: 24px;
    outline: 1px solid #e6ecf0;
  }
  .settingContentContainer {
    width: 637px;
    height: 100%;
    margin-left: 24px;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
  }
}
