.PostContentItemContainer {
  height: 148px;
  width: 640px;
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 16px 8px 0 23px;
    cursor: pointer;
  }
  .postInfo {
    margin-top: 16px;
    .posterInfo {
      margin-bottom: 8px;
      .replyerName {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #171725;
        margin-right: 8px;

        display: inline-block;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      a,
      .posterAccount {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6c757d;
        display: inline-block;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .userName {
      margin-bottom: 8px;
      span,
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
      span {
        color: #6c757d;
        margin-right: 8px;
      }
      a {
        color: #ff6600;
      }
    }
    .postDescription {
      width: 528px;
      height: 52px;
      overflow: hidden;
      text-overflow: ellipsis;
<<<<<<< HEAD
      white-space: nowrap;
=======
      overflow-wrap: break-word;
>>>>>>> d526dd4f2f3ca832d1bec245cc134be61e195029
    }
  }
}
