.cardContainer {
  width: 937px;
  height: 118px;
  display: flex;
  border-right: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  margin-right: 163px;
  padding: 16px;
  position: relative;
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .cardInfoContainer {
    width: 825px;
    .name {
      font-weight: 700;
    }
    .account {
      margin-left: 8px;
      font-size: var(--font-size-medium);
      color: #6c757d;
    }
  }
  .tweetText {
    margin-top: 10px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
