.modalContainer {
  width: 639px !important;
  height: 617px !important;
  border-radius: 14px !important;
  background-color: var(--white) !important;
  position: absolute !important;
  top: 0% !important;
  left: 28% !important;
  transform: translate(-40%) !important;
}

.modalHeaderContainer {
  height: 57px;
  .headerTitle {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
  }
  .closeBtn {
    font-size: 40px;
    color: #ff6600;
    cursor: pointer;
  }
  .saveBtn {
    background-color: #ff6600;
    color: white;
    height: 40px;
    width: 64px;
    border: 0;
  }
}
.modalBodyContainer {
  padding: 0;
}
.modalBody {
  width: 639px;
  height: 270px;
  // outline: 1px solid tomato;
  position: relative;
  .bodyCover {
    width: 100%;
    height: 200px;
    // outline: 1px solid tomato;
    position: relative;
    background-color: #171725;
    img {
      width: 637px;
      height: 100%;
      object-fit: cover;
      opacity: 50%;
    }
    .coverInput {
      display: none;
    }
    .defaultCover {
    }
    .selectCover {
      position: absolute;
      top: 0;
      left: 0;
      width: 636.9px;
    }
    .photoIcon {
      position: absolute;
      top: 96.17px;
      left: 284.14px;
    }
    .photoConatiner {
      position: absolute;
      top: 50%;
      left: 284.14px;
    }
    .photoXContainer {
      position: absolute;
      top: 0;
      left: 43px;
      z-index: 1;
    }
  }
  .bodyAvatar {
    position: absolute;
    left: 16.13px;
    bottom: 0;
    background-color: #171725;
    border-radius: 50%;
    img {
      width: 141px;
      height: 140px;
      border-radius: 50%;
      border: 2px solid var(--white);
      opacity: 0.5;
    }
    .upAvatar {
      z-index: 1;
      position: absolute;
      left: 0;
    }
    .defaultAvatar {
      z-index: -1;
    }
    .photoIcon {
      background-color: black;
      position: absolute;
      top: 55px;
      right: 60px;
      z-index: 999;
    }
  }
}
.modalFooter {
  height: 273px;
  width: 639px;
  margin-top: 16px;
  padding: 16px;
  .nameInputContainer {
    background-color: #f5f8fa;
    padding-top: 2px;
    p {
      margin-top: 2px;
      padding-left: 16px;
      font-size: 14px;
      color: var(--gray-700);
      height: 9px;
    }
    .nameInput {
      resize: none;
      background-color: #f5f8fa;
      border: none;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #657786;
      padding-left: 16px;
      &::placeholder {
        color: var(--gray-500);
      }
      &:focus {
        outline: none;
        border-color: var(--sky-blue);
      }
    }
  }
  .discriptionInputContainer {
    background-color: #f5f8fa;
    padding-top: 2px;
    margin-top: 8px;
    p {
      margin-top: 2px;
      padding-left: 16px;
      font-size: 14px;
      color: var(--gray-700);
      height: 9px;
    }
    .postTextarea {
      resize: none;
      background-color: #f5f8fa;
      border: none;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #657786;
      padding-left: 16px;
      &::placeholder {
        color: var(--gray-500);
      }
      &:focus {
        outline: none;
        border-color: var(--sky-blue);
      }
    }
  }
}

.btn {
  width: 128px;
  height: 40px;
  background-color: white;
  color: #ff6600;
  border: 1px solid #ff6600;
}
.coverInput {
  display: none;
}
.overUpload {
  visibility: hidden;
}

.descriptMessageContainer {
  display: flex;
  // outline: 1px solid tomato;
  .error {
    flex: 1;
    //styleName: body/12px/medium;
    font-family: Noto Sans TC;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fc5a5a;
  }
  .count {
    flex: 1;
    text-align: end;
    //styleName: body/12px/medium;
    font-family: Noto Sans TC;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #696974;
  }
}
