.container {
  width: 1400px;
  height: 1200px;
  display: flex;
  margin: 0 auto;
  .mainContainer {
    width: 937px;
    height: 1200px;
    border-left: 1px solid #e6ecf0;
    flex-direction: column;
    header {
      height: 74px;
      border-bottom: 1px solid #e6ecf0;
      // width: 80vw;
      display: flex;
      align-items: center;
      h4 {
        margin-left: 24px;
      }
    }
    .cardContainer {
      // outline: 1px solid tomato;
      width: 1000px;
      height: 1125px;
      display: flex;
      flex-wrap: wrap;
      padding: 16px;
      margin-top: 0;
      gap: 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
