.registerContainer {
  width: 356px;
  height: 100%;
  margin: 0 auto;
  margin-top: 69px;
  .logoContainer {
    display: flex;
    justify-content: center;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .inputContainer {
    margin-top: 12px;
  }
  .buttonContainer {
    margin-top: 32px;
    height: 46px;
    font-size: 20px;
  }
  .notice {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    font-size: var(--font-size-large);
  }
}
.wrong {
  margin-top: 4px;
  font-size: var(--font-size-small);
  color: var(--Error);
}
.messageContainer {
  line-height: 20px;
  height: 20px;
  span {
    display: block;
  }
  .error {
    text-align: start;
    font-size: var(--font-size-small);
    color: var(--Error);
  }
}

.customSwal {
  width: 394px !important;
  height: 96px !important;
  border-radius: 8px;
  position: relative;
  .text {
    position: absolute;
    top: 20px;
    left: 24px;

    padding: 20px 0;
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
  .successIconContainer,
  .errorIconContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #82c43c;
    border-radius: 50%;
  }
  .errorIconContainer {
    border: 2px solid #fc5a5a;
  }
}
